{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Student Data {% endblock %}</h1>
    {% for student in student_data %}
        <div class="post">
            <h2>{{ student['first_name'] }} {{ student['last_name'] }}</h2>
            <d1 class="student-details">
                <dt>Major</dt>
                <dd>{{ student['major'] }}</dd>
                <dt>Class</dt>
                <dd>{{ student['class'] }}</dd>
                <dt>GPA</dt>
                <dd>{{ student['gpa'] }}</dd>
                <dt>ID</dt>
                <dd>{{ student['id'] }}</dd>

            </d1>

        </div>
    {% endfor %}
{% endblock %}